body {
    background-color: lightgrey;
}

.normal-lines {
    stroke: #aaa;
    stroke-width: 2;
}

.node-circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
}

.node-circle-hidden {
    pointer-events: none;
    visibility: hidden;
    stroke: none;
    stroke-width: 40px;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

/* hover over */

.highlight-node {
    fill: orange; /* Change fill color when node is highlighted */
}

.highlight-link {
    stroke: red; /* Change stroke color when link is highlighted */
    stroke-width: 3px; /* Make link stroke wider when highlighted */
}

.faded {
    opacity: 0.1; /* Fade unhighlighted nodes and links */
}



/* --------- Sidebar --------- */

.main-container {
    display: flex;
    height: 100vh; /* Adjust based on your layout needs */
}

.sidebar {
    width: 20%; /* Adjust the width of the sidebar */
    background-color: #f4f4f4; /* Background color for the sidebar */
    padding: 20px;
    overflow-y: auto; /* Enables scroll if content is too long */
}

.container {
    flex-grow: 1; /* Takes up remaining space */
    overflow: hidden; /* Prevents overflow issues */
}

#input_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
}

#input_form label {
    white-space: nowrap;
}
/*--------- END sidebar --------*/


/* --------- Toggle --------- */
.toggle {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
  }
  
  .toggle input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21b8b5;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px); */
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(86px);
  }
  
  .slider:after
  {
   content:'Level 2';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'Level 1';
  }
  


/* --------- Filter --------- */
/* The switch - the box around the slider */
.filterToggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .filterToggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .filterSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .filterSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .filterSlider {
    background-color: #2196F3;
  }
  
  input:focus + .filterSlider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .filterSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
/*--------- END TOGGLE --------*/
/* 
.filterListItem {
    width: 100px
} */

