body {
    background-color: lightgrey;
}

.normal-lines {
    stroke: #aaa;
    stroke-width: 2;
}

.node circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

/* hover over */

.highlight-node {
    fill: orange; /* Change fill color when node is highlighted */
}

.highlight-link {
    stroke: red; /* Change stroke color when link is highlighted */
    stroke-width: 3px; /* Make link stroke wider when highlighted */
}

.faded {
    opacity: 0.1; /* Fade unhighlighted nodes and links */
}



/* sidebar */

.main-container {
    display: flex;
    height: 100vh; /* Adjust based on your layout needs */
}

.sidebar {
    width: 20%; /* Adjust the width of the sidebar */
    background-color: #f4f4f4; /* Background color for the sidebar */
    padding: 20px;
    overflow-y: auto; /* Enables scroll if content is too long */
}

.container {
    flex-grow: 1; /* Takes up remaining space */
    overflow: hidden; /* Prevents overflow issues */
}