{% extends 'base.html' %} 

{% block content %}
<div class="main-container">
    <div class="sidebar">
        <div id="sidebar-content">Hover over a node to see details here.</div>
    </div>
    <div class="container">
        <svg class="border rounded mt-3" style="background-color:white"></svg>

        <!-- New structure for form and controls -->
        <div class="flex-container">
            <form id="input_form" action="/process_input" method="POST" class="form-side">
                <label for="paper_id">Enter Semantic Scholar or Arxiv ID:</label>
                <input type="text" id="paper_id" name="paper_id" placeholder="Paper ID">

                <div class="form-row">
                    <input type="checkbox" id="citations_checkbox" name="citations_checkbox" value="on"><br>
                    <label for="citations_checkbox">Citations</label>
                </div>

                <div class="form-row">
                    <input type="checkbox" id="references_checkbox" name="references_checkbox" value="on"><br>
                    <label for="references_checkbox">References</label>
                </div>

                <div class="form-row">
                    <button type="submit" class="button">Submit</button>
                </div>
                <div id="progress_text" style="display:none;">Building graph...</div>
            </form>

            <div class="controls-side">
                <button id="clear_button" class="button">Clear Graph</button>
                <script type="text/javascript" src="static/js/clear_button.js"></script>

        <label class="toggle">
            <input type="checkbox" id="levelToggle">
            <div class="slider round"></div>
        </label>

        <div id="filterList" class="filterList">
            <div class="filterListItem">
                <label class="filterToggle">
                    <input type="checkbox" id="filterPapers" checked>
                    <span class="filterSlider"></span>
                </label>
                Papers
            </div>
            <div class="filterListItem">
                <label class="filterToggle">
                    <input type="checkbox" id="filterTopics" checked>
                    <span class="filterSlider"></span>
                </label>
                Topics
            </div>
        </div>
    </div>
</div>
<script type="module" src="/static/js/modified_index_toggle.js" charset="utf-8"></script>


{% endblock %}